absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
anaconda-client @ file:///opt/concourse/worker/volumes/live/ce6e20ef-c449-4fb2-5463-03f67f4a0b31/volume/anaconda-client_1635342572171/work
anaconda-navigator==2.0.3
anyio @ file:///opt/concourse/worker/volumes/live/64740ac7-3a9c-4fbb-6685-a51c4ff8b4ca/volume/anyio_1617783319350/work/dist
appnope @ file:///opt/concourse/worker/volumes/live/5f13e5b3-5355-4541-5fc3-f08850c73cf9/volume/appnope_1606859448618/work
argon2-cffi @ file:///opt/concourse/worker/volumes/live/d733ceb5-7f19-407b-7da7-a386540ab855/volume/argon2-cffi_1613037492998/work
async-generator @ file:///home/ktietz/src/ci/async_generator_1611927993394/work
async-timeout==4.0.2
attrs==20.3.0
Babel @ file:///tmp/build/80754af9/babel_1620871417480/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1631874778482/work
bleach==3.3.0
blis==0.7.4
boto3==1.20.23
botocore==1.23.23
brotlipy==0.7.0
cachetools==4.2.4
catalogue==2.0.4
certifi==2020.12.5
cffi==1.14.5
chardet @ file:///opt/concourse/worker/volumes/live/c798b2ee-88b1-4341-6830-161a92c2399e/volume/chardet_1607706832595/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==7.1.2
clyent==1.2.2
conda==4.10.3
conda-build==3.21.4
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///opt/concourse/worker/volumes/live/73497069-9b43-4ad9-50ec-1abb340e14eb/volume/conda-package-handling_1618262140058/work
conda-repo-cli @ file:///tmp/build/80754af9/conda-repo-cli_1620168426516/work
conda-token @ file:///tmp/build/80754af9/conda-token_1620076980546/work
conda-verify==3.4.2
conllu==4.4
cryptography @ file:///opt/concourse/worker/volumes/live/aaebf160-6f21-467e-6bfa-1dd2605e4a9c/volume/cryptography_1635366587701/work
cycler==0.10.0
cymem==2.0.5
debugpy @ file:///opt/concourse/worker/volumes/live/e17abc9f-08a9-4dca-4e9b-e6d24bde47ce/volume/debugpy_1637091828617/work
decorator==5.0.7
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
deprecation==2.1.0
dill==0.3.4
en-core-sci-sm @ file:///Users/sanjana/Downloads/en_core_sci_sm-0.4.0.tar.gz
entrypoints==0.3
filelock==3.0.12
Flask==2.0.3
frozenlist==1.2.0
fsspec==2021.11.1
future==0.18.2
gensim==4.0.1
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
google-auth==1.35.0
google-auth-oauthlib==0.4.6
grpcio==1.43.0
gunicorn==20.1.0
huggingface-hub==0.0.8
idna==2.10
imageio==2.16.1
importlib-metadata @ file:///opt/concourse/worker/volumes/live/68796648-0236-4a85-4beb-f1ddd08dccd5/volume/importlib-metadata_1638542894284/work
ipykernel==5.5.3
ipython==7.23.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.6.3
itsdangerous==2.1.1
jedi @ file:///opt/concourse/worker/volumes/live/904d39c2-2f20-46c0-487d-9a3d2725434d/volume/jedi_1611333757211/work
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.0.1
json5==0.9.5
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-packaging==0.9.2
jupyter-server==1.6.4
jupyterlab==3.0.14
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server==2.5.0
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
kiwisolver==1.3.1
langcodes==3.3.0
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
longformer @ git+https://github.com/allenai/longformer.git@caefee668e39cacdece7dd603a0bebf24df6d8ca
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.4.2
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mistune @ file:///opt/concourse/worker/volumes/live/95802d64-d39c-491b-74ce-b9326880ca54/volume/mistune_1594373201816/work
multidict==5.2.0
murmurhash==1.0.5
navigator-updater==0.2.1
nbclassic==0.2.7
nbclient @ file:///tmp/build/80754af9/nbclient_1614364831625/work
nbconvert==6.0.7
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
nlp==0.4.0
nltk==3.6.5
nmslib==2.1.1
notebook==6.3.0
numpy==1.20.2
oauthlib==3.1.1
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
packaging==20.9
pandas==1.2.4
pandocfilters @ file:///opt/concourse/worker/volumes/live/c330e404-216d-466b-5327-8ce8fe854d3a/volume/pandocfilters_1605120442288/work
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
pathy==0.5.2
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.0.1
pkginfo==1.7.1
preshed==3.0.5
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.19.1
psutil @ file:///opt/concourse/worker/volumes/live/0673cd4b-30c1-4470-7490-d8955610f5d5/volume/psutil_1612298002202/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.1
pycosat==0.6.3
pycparser==2.20
pydantic==1.7.3
pyDeprecate==0.3.1
Pygments==2.9.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1635333100036/work
pyparsing==2.4.7
pyrsistent==0.17.3
pysbd==0.3.4
PySocks @ file:///opt/concourse/worker/volumes/live/85a5b906-0e08-41d9-6f59-084cee4e9492/volume/pysocks_1594394636991/work
python-dateutil==2.8.1
pytorch-lightning==0.9.0
pytz==2021.1
PyYAML==6.0
pyzmq==22.0.3
QtPy @ file:///tmp/build/80754af9/qtpy_1629397026935/work
regex==2022.1.18
requests==2.25.1
requests-oauthlib==1.3.0
rouge==1.0.1
rouge-score==0.0.4
rrnlp==1.0.0
rsa==4.8
ruamel-yaml-conda @ file:///opt/concourse/worker/volumes/live/53b096c9-f5b7-4029-7f1b-056927554e08/volume/ruamel_yaml_1616016691174/work
s3transfer==0.5.0
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.6.3
scispacy==0.4.0
Send2Trash==1.5.0
sentencepiece==0.1.95
six==1.15.0
smart-open==3.0.0
sniffio @ file:///opt/concourse/worker/volumes/live/1faeb672-6d3f-4f1f-7861-294fcf282962/volume/sniffio_1614030462215/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work
spacy==3.0.6
spacy-alignments==0.8.3
spacy-legacy==3.0.5
spacy-loggers==1.0.1
spacy-transformers==1.0.2
srsly==2.4.1
tensorboard==2.2.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4.1
terminado==0.9.4
test-tube==0.7.5
testpath==0.4.4
thinc==8.0.3
threadpoolctl==2.1.0
tokenizers==0.10.3
tomlkit==0.7.0
torch==1.8.1
torchmetrics==0.6.2
tornado @ file:///opt/concourse/worker/volumes/live/05341796-4198-4ded-4a9a-332fde3cdfd1/volume/tornado_1606942323372/work
tqdm==4.60.0
traitlets==5.0.5
transformers==4.6.0
typer==0.3.2
typing-extensions==3.10.0.0
urllib3==1.26.4
wasabi==0.8.2
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
Werkzeug==2.0.2
widgetsnbextension==3.5.1
xmltodict @ file:///Users/ktietz/demo/mc3/conda-bld/xmltodict_1629301980723/work
xxhash==3.0.0
yarl==1.7.2
zipp @ file:///tmp/build/80754af9/zipp_1633618647012/work
