<!doctype html>
<title>Annotate</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">

<section class="content">

  <header>
    {% block header %}
    
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        mouseXPosition = 0;
        $( document ).ready(function() {
          //$("#semantic-plausibility").hide();
          $("#reference-summary").hide();
          $("#facts").hide();
          $("#buttons-div").hide();
          $("#Sentence-highlight").hide();
          

          $("#direction").hide();
          $("#facts").hide();
          $("#buttons-div").hide();

          //$("input:radio[name='likert_facts']").click(function() {
          $("input:radio[name='likert_fluency']").click(function() {
            $("#relevance").fadeOut();
            $("#semantic-plausibility").fadeOut();


            $("#reference-summary").fadeIn();
            $("#direction").show();
            $("#Sentence-highlight").show();
            $("#facts").show();
            $("#buttons-div").show();


            $("#system-summary").mousedown(function(e1) {
              mouseXPosition = e1.pageX; //register the mouse down position
              
            });

            $("#system-summary").mouseup(function(e2) {
              var highlighted = false;
              var selection = window.getSelection();
              var selectedText = selection.toString();
              
              var startPoint = window.getSelection().getRangeAt(0).startOffset;
              var endPoint = window.getSelection().getRangeAt(0).endOffset;
              var anchorTag = selection.anchorNode.parentNode;
              
              var focusTag = selection.focusNode.parentNode;
              
              if ((e2.pageX - mouseXPosition) < 0) {
                focusTag = selection.anchorNode.parentNode;
                anchorTag = selection.focusNode.parentNode;
              }
              if (selectedText.length === (endPoint - startPoint)) {
                highlighted = true;

                if (anchorTag.className !== "highlight") 
                {
                    highlightSelection();
                } 
                else 
                {
                  var afterText = selectedText + "<span class = 'highlight'>" + anchorTag.innerHTML.substr(endPoint) + "</span>";
                  anchorTag.innerHTML = anchorTag.innerHTML.substr(0, startPoint);
                  anchorTag.insertAdjacentHTML('afterend', afterText);
                }

              } 
              else 
              {
                if (anchorTag.className !== "highlight" && focusTag.className !== "highlight") 
                {
                  highlightSelection();
                  highlighted = true;
                }

              }

              if (anchorTag.className === "highlight" && focusTag.className === 'highlight' && !highlighted) {
                highlighted = true;

                var afterHtml = anchorTag.innerHTML.substr(startPoint);
                var outerHtml = selectedText.substr(afterHtml.length, selectedText.length - endPoint - afterHtml.length);
                var anchorInnerhtml = anchorTag.innerHTML.substr(0, startPoint);
                var focusInnerHtml = focusTag.innerHTML.substr(endPoint);
                var focusBeforeHtml = focusTag.innerHTML.substr(0, endPoint);
                selection.deleteFromDocument();
                anchorTag.innerHTML = anchorInnerhtml;
                focusTag.innerHTml = focusInnerHtml;
                var anchorafterHtml = afterHtml + outerHtml + focusBeforeHtml;
                anchorTag.insertAdjacentHTML('afterend', anchorafterHtml);


              }

              if (anchorTag.className === "highlight" && !highlighted) {
                highlighted = true;
                var Innerhtml = anchorTag.innerHTML.substr(0, startPoint);
                var afterHtml = anchorTag.innerHTML.substr(startPoint);
                var outerHtml = selectedText.substr(afterHtml.length, selectedText.length);
                selection.deleteFromDocument();
                anchorTag.innerHTML = Innerhtml;
                anchorTag.insertAdjacentHTML('afterend', afterHtml + outerHtml);
              }

              if (focusTag.className === 'highlight' && !highlighted) {
                highlighted = true;
                var beforeHtml = focusTag.innerHTML.substr(0, endPoint);
                var outerHtml = selectedText.substr(0, selectedText.length - beforeHtml.length);
                selection.deleteFromDocument();
                focusTag.innerHTml = focusTag.innerHTML.substr(endPoint);
                outerHtml += beforeHtml;
                focusTag.insertAdjacentHTML('beforebegin', outerHtml);
              }
              if (!highlighted) {
                highlightSelection();
              }
              $('.highlight').each(function() {
                if ($(this).html() == '') {
                  $(this).remove();
                }
              });
              selection.removeAllRanges();
              
              document.getElementsByClassName("highlight")[0].innerHTML;
              obj=document.getElementsByClassName("highlight")
              var count= Object.keys(obj).length
              //console.log(typeof document.getElementsByClassName("highlight"))
              var sent = []
              for (i = 0; i < count; i++)
              {
              sent[i] = obj[i].innerHTML
              //console.log(obj[i].innerHTML);
              }
              //console.log(count)
              document.getElementById("sent").value = sent;
              
            });
          });

          function highlightSelection() {
            var selection;
           
            if (window.getSelection)
              selection = window.getSelection();
            else if (typeof document.selection != "undefined")
              selection = document.selection;

            //Get a the selected content, in a range object
            var range = selection.getRangeAt(0);

            //If the range spans some text, and inside a tag, set its css class.
            if (range && !selection.isCollapsed) {
              //console.log("Here1")
              if (selection.anchorNode.parentNode == selection.focusNode.parentNode) {
                var span = document.createElement('span');
                //console.log("here2")
                span.className = 'highlight';
                span.textContent = selection.toString();
                //console.log(span.textContent)
                //selectedString = selectedString + "\t" + span.textContent
                selection.deleteFromDocument();
                range.insertNode(span);
                //                        range.surroundContents(span);
              }
            }
          }

        });
      
    </script>
  </header>
  
  {% block content %}
  <div id="system-summary" >
    <h2>System Summary</h2>

    {{ prediction }}
  </div>
  <br/><br/>
  <div id="reference-summary" style="border:2px dotted black;">
    <!-- not showing link to sources for now. -->
    <h2>Reference <!-- (<a href="/view_sources/{{uid}}" target=”_blank”>view sources</a>) --></h2> 
 
    <h3><i>{{ review_title }}</i></h3>
    {{ reference }}

    <br/><br/>
  </div>


<br/><br/>
<hr>
<div class="wrap">
 
  <form action="/save_annotation/{{uid}}" method="post">

    <div id="relevance">
      <label class="statement">Is the System Summary relevant to the topic <i>{{ review_title }}</i>?</label>
        <ul class='likert'>
        <li></li>
        <li>
          <input type="radio" name="likert_relevance" value="1">
           Mostly off topic (does not seem to address the key question).
        </li>
        <li>
          <input type="radio" name="likert_relevance" value="2">
          Moderately on topic, but contains seemingly irrelevant information as well.
        </li>
        <li>
          <input type="radio" name="likert_relevance" value="3">
          Strongly focusses on this topic.
        </li>
        <li></li>
        </ul>
    </div>

    <div id="direction">
      <label class="statement">In the reference summary, characterize the authors' conclusion regarding the comparative effect of the main intervention(s) of interest, with respect to the outcome(s) summarized here. The summary concludes that the main intervention(s) ...</label>
        <ul class='likert'>
        <!-- <li></li> -->
 
        <li>
          <input type="radio" name="likert_direction" value="-1">
            Was harmful.
        </li>

        <li>
          <input type="radio" name="likert_direction" value="0">
          Had no effect.
        </li>
        
        <li>
          <input type="radio" name="likert_direction" value="1">
         Was beneficial. 
        </li>
        
        <li></li>

        <li>
          <input type="radio" name="likert_direction" value="2">
         Could not come to a conclusion due to a lack of relevant evidence.
        </li>

        <li></li>
        </ul>
    </div>

    <div id="facts">
      <label class="statement">Now we ask that you assess the factuality of the system summary text, with reference to the assessment you made above regarding the key findings reported in the manually written summary. The system summary ... </label>
        <ul class='likert'>
        <li>
          <input type="radio" id="test_likert" name="likert_facts" value="1">
          Strongly disagrees with or contradicts the reference summary.
        </li>
        <li>
          <input type="radio" name="likert_facts" value="2">
          Moderately disagrees with the reference summary.
        </li>
        <li>
          <input type="radio" name="likert_facts" value="3">
          Partially agrees and partially disagrees with the reference summary.
        </li>
        <li>
          <input type="radio" name="likert_facts" value="4">
          Moderately agrees with the reference summary.
        </li>
        <li>
          <input type="radio" name="likert_facts" value="5">
          Strongly agrees with reference summary.
        </li>
      </ul>
    </div>
    


    <div id = "semantic-plausibility">
        <label class="statement">Now we would now like you to assess the "semantic plausibility" of the text (without regard for the reference review or source abstracts). This text is ...</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="likert_fluency" value="1">
            Very difficult to understand; clearly not written by a human.
          </li>
          <li>
            <input type="radio" name="likert_fluency" value="2">
            Mostly understandable but not very plausible: It contradicts itself and/or contains blatently untrue or incoherent statements.
          </li>
          <li>
            <input type="radio" name="likert_fluency" value="3">
            Understandable, but contains some major language errors and/or semantic oddities.
          </li>
          <li>
            <input type="radio" name="likert_fluency" value="4">
            Easy to understand, and seems mostly plausible and internally consistent. Contains some minor errors, but no major oddities or obviously incorrect text.
          </li>
          <li>
            <input type="radio" name="likert_fluency" value="5">
            I cannot readily distinguish this from a summary that might have been written by an expert reviewer.
          </li>
        </ul> 
      </div>

      <div id = "Sentence-highlight">
        <label class="statement">Highlight factual errors in the sytem summary. Run the cursor over the erroneous portion to highlight. </label>
        <input type="text" id="sent" name="sent" style="font-size:18pt;height:30px; width:900px;"></input>
      </div>
   
      <div id = "buttons-div" class="buttons">
        <button class="clear">Clear</button>
        <button class="submit">Submit</button>
      </div>
    

   
   <!--
    <label class="statement">Next we would now like you to assess the fluency of the text. For this assessment, you should ignore whether or not the scientific message is correct, and rate only the quality of the language. This text is ...</label>
    <ul class='likert'>
      <li>
        <input type="radio" name="likert_fluency" value="1">
        <label>Impossible to understand</label>
      </li>
      <li>
        <input type="radio" name="likert_fluency" value="2">
        <label>Difficult to understand with major language errors</label>
      </li>
      <li>
        <input type="radio" name="likert_fluency" value="3">
        <label>Understandable, but with major language errors</label>
      </li>
      <li>
        <input type="radio" name="likert_fluency" value="4">
        <label>Easy to understand with minor language errors only</label>
      </li>
      <li>
        <input type="radio" name="likert_fluency" value="5">
        <label>Easy to understand with no language errors</label>
      </li>
    </ul> 
    -->
     
  </form>
</div>
    
  <p>You've provided {{ already_done }} labels!</p>
  <p><!-- <b>System</b>: {{ system }} <--> <b>Identifier</b>: {{ uid }}</p>



  {% endblock %}
</section>