<!doctype html>
<title>Annotate</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<section class="content">
  <header>
    {% block header %}
    
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            $("#reference-summary").show();
            

            var idx = $("#idx").val();
            
            if(idx == 0){
              $("#reference-summary-box").show();
              $("#reference-summary-annotation").show();
              $("#summary-direction-faithfulness").hide();
              $("#buttons-back").hide();
            }

            else{
              $("#reference-summary-box").hide();
              $("#reference-summary-annotation").hide();
            }
            
            

        });
      
    </script>
  </header>
  
  {% block content %}

  <div id="reference-summary" style="border:2px dotted black; color:darkred">
    <!-- not showing link to sources for now. -->
    <h2>Reference <!-- (<a href="/view_sources/{{uid}}" target=”_blank”>view sources</a>) --></h2> 
 
    <h3><i>{{ review_title }}</i></h3>
    {{ reference }}

    <br/><br/>
  </div>


<br/><br/>
<hr>
<div class="wrap">
 
  <form action="/save_direction_annotation/{{uuids}}" method="post">
    <input type = 'hidden' id = "idx" name = 'idx' value = "{{idx}}">
    <input type="hidden" name="review_title" value="{{review_title}}">
    <input type = "hidden" name = "reference" value = "{{reference}}">
    <input type = "hidden" name = "predictions" value = "{{predictions}}">
    <input type = "hidden" name = "systems" value = "{{systems}}">

    <label class="statement", style = "font-size: 16px;">In the reference summary, characterize the authors' conclusion regarding the comparative effect and faithfulness of the main intervention(s) of interest, with respect to the outcome(s) summarized here. </label>

    <div id = 'reference-summary-box' style="border:2px dotted black; font-size: 14px; color:rgb(13, 4, 133)"> 
      <h3 > Reference Summary  </h3>
      See above
    </div>

    <div id = 'reference-summary-annotation'>
      <label class="statement_type">Directionality </label>
      <label class="statement"> The REFERENCE SUMMARY concludes that the main intervention(s) ...</label>
      <ul class='likert'>
    <!-- <li></li> -->

        <li>
          <input type="radio" name="likert_direction-ref" value="-1">
            Was harmful.
        </li>

        <li>
          <input type="radio" name="likert_direction-ref" value="0">
          Had no effect.
        </li>
        
        <li>
          <input type="radio" name="likert_direction-ref" value="1">
        Was beneficial. 
        </li>
        
        <li>
          <input type="radio" name="likert_direction-ref" value="2">
        Could not come to a conclusion due to a lack of relevant evidence.
        </li>

      </ul>

    </div>

    <div id="summary-direction-faithfulness">
        <div id="generated-summary" style="border:2px dotted black; font-size: 14px; color:rgb(13, 4, 133)">
            <h3> Summary {{idx}} </h3>
             {{ predictions[idx - 1] }}
        </div>

          <div>
            <label class="statement_type">Faithfulness </label>
            <label class="statement">With respect to the reference summary, the INTERVENTIONS described in SUMMARY {{idx}} are </label>
            <ul class='likert'>
            <!-- <li></li> -->
      
              <li>
                <input type="radio" name="likert_int_faithful" value="0">
                Same as interventions in the reference summary.
              </li>
              
              <li>
                <input type="radio" name="likert_int_faithful" value="1">
                Different from interventions in the reference summary. 
              </li>
              
              <li>
                <input type="radio" name="likert_int_faithful" value="2">
                Inconclusive.
              </li>
  
            </ul>

            <label class="statement">With respect to the reference summary, the OUTCOMES described in SUMMARY {{idx}} are </label>
            <ul class='likert'>
            <!-- <li></li> -->
      
              <li>
                <input type="radio" name="likert_out_faithful" value="0">
                Same as outcomes in the reference summary.
              </li>
              
              <li>
                <input type="radio" name="likert_out_faithful" value="1">
                Different from outcomes in the reference summary. 
              </li>
              
              <li>
                <input type="radio" name="likert_out_faithful" value="2">
                Inconclusive.
              </li>
  
            </ul>
            <label class="statement_type">Directionality </label>
            <label class="statement"> The SUMMARY {{idx}} concludes that the main intervention(s) ... </label>
            <ul class='likert'>
          
      
              <li>
                <input type="radio" name="likert_direction" value="-1">
                  Was harmful.
              </li>
  
              <li>
                <input type="radio" name="likert_direction" value="0">
                Had no effect.
              </li>
              
              <li>
                <input type="radio" name="likert_direction" value="1">
              Was beneficial. 
              </li>
              
              <li>
                <input type="radio" name="likert_direction" value="2">
              Could not come to a conclusion due to a lack of relevant evidence.
              </li>
  
            </ul>
  
          </div>

    </div>

          <div id = "buttons-div" class="buttons">
            <button class="submit" name = "button" value = "clear">Clear</button>
            <button class="submit" name = "button" value = "submit"> Submit</button>
          </div> 

          <div id = "buttons-back" class="buttons_back">
            <button class="submit" name = "button" value = "back">Back</button>
          </div>

  </form>
</div>
    
  <p>You've provided {{ already_done }} set of labels!</p>
  <p><!-- <b>System</b>: {{ system }} <--> <b>Identifier</b>: {{ uuids }}</p>



  {% endblock %}
</section>