<!doctype html>
<title>Annotate</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<section class="content">
  <header>
    {% block header %}
    
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            $("#reference-summary").show();
            $("#facts").show();
            
            $("#buttons-div").show();
            $("#buttons-back").show();
          

        });
      
    </script>
  </header>
  
  {% block content %}

  <div id="reference-summary" style="border:2px dotted black; color:darkred">
    <!-- not showing link to sources for now. -->
    <h2>Reference <!-- (<a href="/view_sources/{{uid}}" target=”_blank”>view sources</a>) --></h2> 
 
    <h3><i>{{ review_title }}</i></h3>
    {{ reference }}

    <br/><br/>
  </div>


<br/><br/>
<hr>
<div class="wrap">
 
  <form action="/save_factuality_annotation/{{uuids}}" method="post">
    <input type="hidden" name="review_title" value="{{review_title}}">
    <input type = "hidden" name = "reference" value = "{{reference}}">
    <input type = "hidden" name = "predictions" value = "{{predictions}}">
    <input type = "hidden" name = "systems" value = "{{systems}}">
    <div id="facts">
        <label class="statement">Now we ask that you assess the factuality of the system summary text, with reference to the assessment you made above regarding the key findings reported in the manually written summary.  </label>
        
        <div id="generated-summary1" style="border:2px dotted black; font-size: 14px; color:rgb(13, 4, 133)">
            <h3> Summary 1 </h3>
            {{ predictions[0] }}
        </div>
        
        <div>
          <label class="statement_type">FACTUALITY </label>
          <label class = 'statement'> The system SUMMARY 1 ... </label>
        
          <ul class='likert'>
              <li>
                <input type="radio" id="test_likert" name="likert_facts1" value="1">
                Strongly disagrees with or contradicts the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts1" value="2">
                Moderately disagrees with the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts1" value="3">
                Partially agrees and partially disagrees with the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts1" value="4">
                Moderately agrees with the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts1" value="5">
                Strongly agrees with reference summary.
              </li>
          </ul>
        </div>
  
        <div id="generated-summary2" style="border:2px dotted black; font-size: 14px; color:rgb(13, 4, 133)">
            <h3> Summary 2 </h3>
            {{ predictions[1] }}
        </div>
        <div>
          <label class="statement_type">FACTUALITY </label>
          <label class = 'statement'> The system SUMMARY 2 ... </label>
        
          <ul class='likert'>
              <li>
                <input type="radio" id="test_likert" name="likert_facts2" value="1">
                Strongly disagrees with or contradicts the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts2" value="2">
                Moderately disagrees with the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts2" value="3">
                Partially agrees and partially disagrees with the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts2" value="4">
                Moderately agrees with the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts2" value="5">
                Strongly agrees with reference summary.
              </li>
          </ul>
        </div>
  
        <div id="generated-summary3" style="border:2px dotted black; font-size: 14px; color:rgb(13, 4, 133)">
            <h3> Summary 3 </h3>
            {{ predictions[2] }}
        </div>
        <div>
          <label class="statement_type">FACTUALITY </label>
          <label class = 'statement'> The system SUMMARY 3 ... </label>
        
          <ul class='likert'>
              <li>
                <input type="radio" id="test_likert" name="likert_facts3" value="1">
                Strongly disagrees with or contradicts the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts3" value="2">
                Moderately disagrees with the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts3" value="3">
                Partially agrees and partially disagrees with the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts3" value="4">
                Moderately agrees with the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts3" value="5">
                Strongly agrees with reference summary.
              </li>
          </ul>
        </div>
  
        <div id="generated-summary4" style="border:2px dotted black; font-size: 14px; color:rgb(13, 4, 133)">
            <h3> Summary 4 </h3>
            {{ predictions[3] }}
        </div>
        <div>
          <label class="statement_type">FACTUALITY </label>
          <label class = 'statement'> The system SUMMARY 4 ... </label>
        
          <ul class='likert'>
              <li>
                <input type="radio" id="test_likert" name="likert_facts4" value="1">
                Strongly disagrees with or contradicts the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts4" value="2">
                Moderately disagrees with the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts4" value="3">
                Partially agrees and partially disagrees with the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts4" value="4">
                Moderately agrees with the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts4" value="5">
                Strongly agrees with reference summary.
              </li>
          </ul>
        </div>

        <div id="generated-summary5" style="border:2px dotted black; font-size: 14px; color:rgb(13, 4, 133)">
            <h3> Summary 5 </h3>
            {{ predictions[4] }}
        </div>
        <div>
          <label class="statement_type">FACTUALITY </label>
          <label class = 'statement'> The system SUMMARY 5 ... </label>
        
          <ul class='likert'>
              <li>
                <input type="radio" id="test_likert" name="likert_facts5" value="1">
                Strongly disagrees with or contradicts the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts5" value="2">
                Moderately disagrees with the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts5" value="3">
                Partially agrees and partially disagrees with the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts5" value="4">
                Moderately agrees with the reference summary.
              </li>
              <li>
                <input type="radio" name="likert_facts5" value="5">
                Strongly agrees with reference summary.
              </li>
          </ul>
        </div>
  
      </div>


    

    <div id = "buttons-div" class="buttons">
            <button class="submit" name = "button" value = "clear">Clear</button>
            <button class="submit" name = "button" value = "submit"> Submit</button>
    </div> 

    <div id = "buttons-back" class="buttons_back">
        <button class="submit" name = "button" value = "back">Back</button>
      </div>

  </form>
</div>
    
  <p>You've provided {{ already_done }} set of labels!</p>
  <p><!-- <b>System</b>: {{ system }} <--> <b>Identifier</b>: {{ uid }}</p>



  {% endblock %}
</section>